{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block extrastyle %}
    <style>
        .map-container {
            height: 150px;
        }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
{% endblock extrastyle %}

{% block content %}
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Email Address</th>
            <th scope="col">Creation Date</th>
        </tr>
        </thead>
        <tbody>
        {% for request in request_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ request.3 }}</td>
                <td>
                    <div class="map-container" id="map_{{ forloop.counter }}"></div>
                </td>
                <td>{{ request.4 }}</td>
                <td>{{ request.0 }}</td>
                <td>{{ request.2 }}</td>
            </tr>
            <script>
                // JavaScript code for each request to create a new map and add marker
                (function () {
                    var coordinates = "{{ request.1 }}".slice(7, -1).split(' ');
                    var lat = parseFloat(coordinates[0]);
                    var lng = parseFloat(coordinates[1]);
                    var mapId = "map_{{ forloop.counter }}";
                    var map = L.map(mapId).setView([lat, lng], 7);
                    var spatialExtent = L.latLngBounds([[17.7012, -78.3666], [18.5242, -76.199]]);
                    map.setMaxBounds(spatialExtent);
                    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        maxZoom: 22,
                        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                    }).addTo(map);
                    var marker = L.marker([10+lat, lng]).addTo(map);
                })();
            </script>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
