{% extends 'layouts/base.html' %}
{% load static %}

{% block extrastyle %}

    <!-- morris css -->
    <link rel="stylesheet" href="{% static 'assets/plugins/chart-morris/css/morris.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    {#    <script src="{% static 'assets/plugins/chartjs/chart-js.js' %}"></script>#}
{% endblock extrastyle %}

{% block content %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {

            fetch('http://127.0.0.1:8000/forecast_weather/')
                .then(response => response.json())
                .then(data => {
                    var temperature = JSON.parse(data.temperature_2m);
                    var precipitation = JSON.parse(data.precipitation);
                    var evapotranspiration = JSON.parse(data.et0_fao_evapotranspiration);
                    var direct_radiation = JSON.parse(data.direct_radiation);
                    var relative_humidity = JSON.parse(data.relative_humidity_2m);
                    var soil_temperature = JSON.parse(data.soil_temperature_0_to_7cm);

                    temp_date = temperature.map((item => item.date))
                    temp_value = temperature.map((item => item.temperature_2m))
                    console.log(temp_value)

                    precipitation_date = precipitation.map((item => item.date))
                    precipitation_value = precipitation.map((item => item.precipitation))

                    console.log(precipitation_value)

                    evapotranspiration_date = evapotranspiration.map((item => item.date))
                    evapotranspiration_value = evapotranspiration.map((item => item.et0_fao_evapotranspiration))

                    console.log(evapotranspiration_date)
                    console.log(evapotranspiration_value)

                    direct_radiation_date = direct_radiation.map((item => item.date))
                    direct_radiation_value = direct_radiation.map((item => item.direct_radiation))

                    console.log(evapotranspiration_value)

                    soil_temp_date = soil_temperature.map((item => item.date))
                    soil_temp_value = soil_temperature.map((item => item.soil_temperature_0_to_7cm))

                    console.log(evapotranspiration_value)

                    relative_humidity_date = relative_humidity.map((item => item.date))
                    relative_humidity_value = relative_humidity.map((item => item.relative_humidity_2m))
                    console.log(temp_value)

                    var lineChart = new Chart(document.getElementById('forecast_graph'), {
                        type: 'line',
                        data: {
                            labels: relative_humidity_date,
                            datasets: [{
                                label: 'Relative Humidity (%)',
                                data: relative_humidity_value,
                                borderColor: 'rgb(41,75,209)',
                                radius: 0,
                                borderWidth: 2,
                                fill: false
                            }, {
                                label: 'Soil Temperature (°C)',
                                data: soil_temp_value,
                                borderColor: 'rgb(67,2,2)',
                                radius: 0,
                                borderWidth: 2,
                                fill: false
                            }, {% comment %}{
                                label: 'Direct Radiation ',
                                data: direct_radiation_value,
                                borderColor: 'rgb(255,191,41)',
                                borderWidth: 2,
                                radius: 0,
                                fill: true
                            },{% endcomment %}{
                                label: 'Evapotranspiration ',
                                data: evapotranspiration_value,
                                borderColor: 'rgb(123,179,91)',
                                borderWidth: 2,
                                radius: 0,
                                fill: false
                            }, {
                                label: 'Precipitation ',
                                data: precipitation_value,
                                borderColor: 'rgb(24,197,251)',
                                radius: 0,
                                borderWidth: 2,
                                fill: false
                            }, {
                                label: 'Temperature (°C)',
                                data: temp_value,
                                borderColor: 'rgb(255,7,54)',
                                radius: 0,
                                borderWidth: 2,
                                fill: false
                            }],
                        },
                        options: {
                            maintainAspectRatio: false,
                            plugins: {
                                zoom: {
                                    pan: {
                                        enabled: true,
                                        mode: 'xy'
                                    },
                                    limits: {
                                        y: {min: 0, max: 100},
                                        y2: {min: -5, max: 5}
                                    },
                                    zoomOnDoubleClick: true
                                }
                            },
                            legend: {
                                display: true,
                                position: "bottom",
                                labels: {
                                    fontColor: 'rgb(0, 0, 0)'
                                }
                            },
                        }
                    });

                })

        });

    </script>


    <br>
    <div class="card-header">
        <h5>Generate Forcast </h5>
        <div class="container">
            <div class="row">
                <div class="col justify-content-start">
                    <form id="sensorForm" method="post">
                        {% csrf_token %}
                        <div class="row ">
                            <div class="col">
                                <label for="sensor_group_select">Sensor Group Location</label>
                                <select required class="form-control" id="sensor_group_select"
                                        name="sensor_group_select">
                                    <option value=""></option>
                                    {% for sg in sensor_group %}
                                        <option value="{{ sg }}"
                                                data-x="{{ sg.sensor_group_location.y }}"
                                                data-y="{{ sg.sensor_group_location.x }}">
                                            {{ sg.sensor_group_name }}
                                        </option>

                                    {% endfor %}
                                </select>
                            </div>


                            <div class="col">
                                <label for="s-date" class="form-label">Start Date</label>
                                <input onchange="" step=".0000001" type="date" class="form-control"
                                       value="18.109656" id="lat-value">
                            </div>

                            <div class="col">
                                <label for="e-date" class="form-label">End Date</label>
                                <input onchange="" step=".0000001" type="date" class="form-control"
                                       value="-77.297565" id="long-value">
                            </div>
                            <div class="col">
                                <label for="e-date" class="form-label">Lets Generate Your Data </label>
                                <button type="button" class="btn btn-primary" data-toggle="modal">
                                    Generate
                                </button>
                            </div>
                        </div>


                    </form>
                </div>

                <a class="col-md-2 col-xl-5 d-flex justify-content-end">
                    <p class="m-0 mr-2">Data Queried from</p>
                    <a href="https://open-meteo.com/"> <img src="https://open-meteo.com/favicon-32x32.png"
                                                            alt="Open Meteo" class="align-self-center">
                    </a>
            </div>
        </div>
    </div>


    <br><br>
    <div class="card">
        <div class="card-block">
            <h3 class="f-w-300 d-flex align-items-center m-b-0">Forecast</h3>
            <div style="height: 520px;"> <!-- Adjust the height as needed -->
                <canvas id="forecast_graph"></canvas>
            </div>
        </div>
    </div>


{% endblock content %}