{% extends 'layouts/base.html' %}
{% load static %}

{% block extrastyle %}

    <!-- morris css -->
    <link rel="stylesheet" href="{% static 'assets/plugins/chart-morris/css/morris.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script src="{% static 'assets/js/chartjs-plugin-zoom.min.js' %}"></script>
{% endblock extrastyle %}

{% block content %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            fetch('http://127.0.0.1:8000/get_day_avg_sensor_data/')
                .then(response => response.json())
                .then(daily_sensor_avg => {
                    avg_per = (daily_sensor_avg.average_sensor_data * 100).toFixed(2)
                    avg_value = (daily_sensor_avg.average_sensor_data).toFixed(5)

                    document.getElementById("daily_avg_percentage").innerHTML = avg_per + " %";
                    document.getElementById("daily_avg_value").innerHTML = avg_value;
                    if (avg_per > 50) {
                        document.getElementById("daily_avg_icon").classList.add("icon-arrow-up")
                        document.getElementById("daily_avg_icon").classList.add("text-c-green")

                    } else {
                        document.getElementById("daily_avg_icon").classList.add("icon-arrow-down")
                        document.getElementById("daily_avg_icon").classList.add("text-c-red")
                    }
                    document.getElementById("daily_progress_bar").ariaValueNow = avg_per
                    document.getElementById("daily_progress_bar").style.width = avg_per + "%"

                    new Chart(document.getElementById('daily_pie_chart'), {
                        type: 'pie',
                        data: {
                            labels: ["Daily Average Moisture Content"],
                            datasets: [{
                                data: [avg_per, avg_per - 100],
                                backgroundColor: [
                                    'rgb(109,130,248)',
                                    'rgb(243,238,199)',
                                ],
                                hoverOffset: 4
                            }]
                        },
                        options: {
                            animation: true,
                            plugins: {
                                legend: {
                                    display: false
                                },
                                tooltip: {
                                    enabled: true
                                }

                            }
                        }
                    });
                })
                .catch(error => {

                });


        });

        var soil_moisture_array;
        fetch('http://127.0.0.1:8000/sensor_dataset/')
            .then(response => response.json())
            .then(data => {
                let avg_sensor_data = 0


                for (const d of data) {

                    let count = 1
                    for (let i = 0; i <= data.length - 1; i++) {
                        let value = data[i].features[0].properties.sensor_data
                        soil_moisture_array = value;
                        avg_sensor_data += value;
                    }
                    avg_sensor_data = avg_sensor_data / count

                    avg_per = (avg_sensor_data * 10).toFixed(2)
                    avg_value = (avg_sensor_data).toFixed(5)

                    document.getElementById("current_avg_percentage").innerHTML = avg_per + " %";
                    document.getElementById("current_avg_value").innerHTML = avg_value;
                    if (avg_per > 50) {
                        document.getElementById("current_avg_icon").classList.add("icon-arrow-up")
                        document.getElementById("current_avg_icon").classList.add("text-c-green")

                    } else {
                        document.getElementById("current_avg_icon").classList.add("icon-arrow-down")
                        document.getElementById("current_avg_icon").classList.add("text-c-red")
                    }
                    document.getElementById("current_progress_bar").ariaValueNow = avg_per
                    document.getElementById("current_progress_bar").style.width = avg_per + "%"
                }

                new Chart(document.getElementById('current_pie_chart'), {
                    type: 'pie',
                    data: {
                        labels: ["Current Average Moisture Content"],
                        datasets: [{
                            data: [avg_per, avg_per - 100],
                            backgroundColor: [
                                'rgb(101,227,106)',
                                'rgb(219,199,243)',
                            ],
                            borderWidth: 2,
                            hoverOffset: 4
                        }]
                    },
                    options: {
                        animation: true,
                        plugins: {
                            legend: {
                                display: false
                            },
                            tooltip: {
                                enabled: true
                            }
                        }
                    }
                });
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
        var soil_data = 0
        {#Monthly Sensor #}
        fetch('http://127.0.0.1:8000/average_reading_past_week/')
            .then(response => response.json())
            .then(weekly_sensor_avg => {
                const dates = Object.keys(weekly_sensor_avg);
                const avg_readings = Object.values(weekly_sensor_avg);

                // Calculate the total average reading
                const totalAvg = avg_readings.reduce((acc, val) => acc + val, 0) / avg_readings.length;

                // Update the average percentage and value
                const avg_per = (totalAvg * 100).toFixed(2);
                const avg_value = totalAvg.toFixed(5);
                document.getElementById("monthly_avg_percentage").innerHTML = avg_per + " %";
                document.getElementById("monthly_avg_value").innerHTML = avg_value;

                // Update the progress bar
                const progress_bar = document.getElementById("monthly_progress_bar");
                progress_bar.ariaValueNow = avg_per;
                progress_bar.style.width = avg_per + "%";
                if (avg_per > 50) {
                    progress_bar.classList.add("text-c-green");
                } else {
                    progress_bar.classList.add("text-c-red");
                }
                soil_data = avg_readings[1]

                // Create the histogram chart
                new Chart(document.getElementById('monthly_pie_chart'), {
                    type: 'bar',
                    data: {
                        labels: dates,
                        datasets: [{
                            label: 'Average Reading',
                            data: avg_readings,
                            backgroundColor: 'rgba(54, 162, 235, 0.5)',
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: 2
                        }]
                    },
                    options: {
                        scales: {
                            x: {
                                title: {
                                    display: true,
                                    text: 'Date'
                                }
                            },
                            y: {
                                title: {
                                    display: true,
                                    text: 'Average Reading'
                                }
                            }
                        },
                        plugins: {
                            legend: {
                                display: false
                            },
                            tooltip: {
                                enabled: true,
                                callbacks: {
                                    label: function (context) {
                                        return 'Average Reading: ' + context.parsed.y.toFixed(2);
                                    }
                                }
                            }
                        }
                    }
                });
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });


    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {

            fetch('http://127.0.0.1:8000/historical_weather/')
                .then(response => response.json())
                .then(data => {
                    var temperature = JSON.parse(data.temperature_2m);
                    var precipitation = JSON.parse(data.precipitation);
                    var evapotranspiration = JSON.parse(data.et0_fao_evapotranspiration);
                    var direct_radiation = JSON.parse(data.direct_radiation);
                    var relative_humidity = JSON.parse(data.relative_humidity_2m);
                    var soil_temperature = JSON.parse(data.soil_temperature_0_to_7cm);

                    temp_date = temperature.map((item => item.date))
                    temp_value = temperature.map((item => item.temperature_2m))


                    var temperatureChart = new Chart(document.getElementById('temp_line_graph'), {
                        type: 'line',
                        data: {
                            labels: temp_date,
                            datasets: [{
                                label: 'Temperature (°C)',
                                data: temp_value,
                                borderColor: 'rgba(255, 99, 132, 1)',
                                radius: 1,
                                borderWidth: 2,
                                fill: false
                            }]
                        },
                        options: {
                            maintainAspectRatio: false,
                            legend: {
                                display: true,
                                position: "bottom",
                                labels: {
                                    fontColor: 'rgb(0, 0, 0)'
                                }
                            },
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });

                    precipitation_date = precipitation.map((item => item.date))
                    precipitation_value = precipitation.map((item => item.precipitation))


                    var precipitationChart = new Chart(document.getElementById('precipitation_line_graph'), {
                        type: 'line',
                        data: {
                            labels: precipitation_date,
                            datasets: [{
                                label: 'Precipitation ',
                                data: precipitation_value,
                                borderColor: 'rgba(255, 99, 132, 1)',
                                radius: 1,
                                borderWidth: 2,
                                fill: false
                            }]
                        },
                        options: {
                            maintainAspectRatio: false,
                            legend: {
                                display: true,
                                position: "bottom",
                                labels: {
                                    fontColor: 'rgb(0, 0, 0)'
                                }
                            },
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });

                    evapotranspiration_date = evapotranspiration.map((item => item.date))
                    evapotranspiration_value = evapotranspiration.map((item => item.et0_fao_evapotranspiration))


                    var evapotranspirationChart = new Chart(document.getElementById('evapotranspiration_line_graph'), {
                        type: 'line',
                        data: {
                            labels: evapotranspiration_date,
                            datasets: [{
                                label: 'Evapotranspiration ',
                                data: evapotranspiration_value,
                                borderColor: 'rgba(255, 99, 132, 1)',
                                borderWidth: 2,
                                radius: 1,
                                fill: false
                            }]
                        },
                        options: {
                            maintainAspectRatio: false,
                            legend: {
                                display: true,
                                position: "bottom",
                                labels: {
                                    fontColor: 'rgb(0, 0, 0)'
                                }
                            },
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });

                    direct_radiation_date = direct_radiation.map((item => item.date))
                    direct_radiation_value = direct_radiation.map((item => item.direct_radiation))


                    var directRadiation = new Chart(document.getElementById('direct_radiation_line_graph'), {
                        type: 'line',
                        data: {
                            labels: direct_radiation_date,
                            datasets: [{
                                label: 'Direct Radiation ',
                                data: direct_radiation_value,
                                borderColor: 'rgba(255, 99, 132, 1)',
                                borderWidth: 2,
                                radius: 1,
                                fill: true
                            }]
                        },
                        options: {
                            maintainAspectRatio: false,
                            legend: {
                                display: true,
                                position: "bottom",
                                labels: {
                                    fontColor: 'rgb(0, 0, 0)'
                                }
                            },
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });

                    soil_temp_date = soil_temperature.map((item => item.date))
                    soil_temp_value = soil_temperature.map((item => item.soil_temperature_0_to_7cm))


                    var soilTempChart = new Chart(document.getElementById('soil_temp_line_graph'), {
                        type: 'line',
                        data: {
                            labels: soil_temp_date,
                            datasets: [{
                                label: 'Soil Temperature (°C)',
                                data: soil_temp_value,
                                borderColor: 'rgba(255, 99, 132, 1)',
                                radius: 1,
                                borderWidth: 2,
                                fill: false
                            }]
                        },
                        options: {
                            maintainAspectRatio: false,
                            legend: {
                                display: true,
                                position: "bottom",
                                labels: {
                                    fontColor: 'rgb(0, 0, 0)'
                                }
                            },
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });

                    relative_humidity_date = relative_humidity.map((item => item.date))
                    relative_humidity_value = relative_humidity.map((item => item.relative_humidity_2m))


                    var relativeHumidityChart = new Chart(document.getElementById('relative_humidity_line_graph'), {
                        type: 'line',
                        data: {
                            labels: relative_humidity_date,
                            datasets: [{
                                label: 'Relative Humidity (%)',
                                data: relative_humidity_value,
                                borderColor: 'rgba(255, 99, 132, 1)',
                                radius: 1,
                                borderWidth: 2,
                                fill: false
                            },]
                        },
                        options: {
                            maintainAspectRatio: false,
                            legend: {
                                display: true,
                                position: "bottom",
                                labels: {
                                    fontColor: 'rgb(0, 0, 0)'
                                }
                            },
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });

                })


            fetch('http://127.0.0.1:8000/historical_weather/')
                .then(response => response.json())
                .then(data => {
                    var temperature = JSON.parse(data.temperature_2m);
                    var precipitation = JSON.parse(data.precipitation);
                    var evapotranspiration = JSON.parse(data.et0_fao_evapotranspiration);
                    var direct_radiation = JSON.parse(data.direct_radiation);
                    var relative_humidity = JSON.parse(data.relative_humidity_2m);
                    var soil_temperature = JSON.parse(data.soil_temperature_0_to_7cm);

                    temp_date = temperature.map((item => item.date))
                    temp_value = temperature.map((item => item.temperature_2m))


                    precipitation_date = precipitation.map((item => item.date))
                    precipitation_value = precipitation.map((item => item.precipitation))

                    evapotranspiration_date = evapotranspiration.map((item => item.date))
                    evapotranspiration_value = evapotranspiration.map((item => item.et0_fao_evapotranspiration))

                    direct_radiation_date = direct_radiation.map((item => item.date))
                    direct_radiation_value = direct_radiation.map((item => item.direct_radiation))

                    soil_temp_date = soil_temperature.map((item => item.date))
                    soil_temp_value = soil_temperature.map((item => item.soil_temperature_0_to_7cm))

                    relative_humidity_date = relative_humidity.map((item => item.date))
                    relative_humidity_value = relative_humidity.map((item => item.relative_humidity_2m))


                    const zoomOptions = {
                        limits: {
                            x: {min: -200, max: 200, minRange: 50},
                            y: {min: -200, max: 200, minRange: 50}
                        },
                        pan: {
                            enabled: true,
                            mode: 'xy',
                        },
                        zoom: {
                            wheel: {
                                enabled: true,
                            },
                            pinch: {
                                enabled: true
                            },
                            mode: 'xy',
                            onZoomComplete({chart}) {
                                // This update is needed to display up to date zoom level in the title.
                                // Without this, previous zoom level is displayed.
                                // The reason is: title uses the same beforeUpdate hook, and is evaluated before zoom.
                                chart.update('none');
                            }
                        }
                    };


                    var lineChart = new Chart(document.getElementById('complete_history_graph'), {

                        type: 'line',
                        data: {
                            labels: precipitation_date.map(item => item.split('.00')[0]),
                            datasets: [{
                                label: 'Relative Humidity (%)',
                                data: relative_humidity_value,
                                borderColor: 'rgb(41,75,209)',
                                radius: .6,
                                borderWidth: 2,
                                fill: false
                            }, {
                                label: 'Soil Moisture (VWC)',
                                data: {{ week_sensor_data|safe }},
                                borderColor: 'rgb(128,16,188)',
                                radius: .6,
                                borderWidth: 2,
                                fill: false
                            }, {
                                label: 'Soil Temperature (°C)',
                                data: soil_temp_value,
                                borderColor: 'rgb(67,2,2)',
                                radius: .6,
                                borderWidth: 2,
                                fill: false
                            }, {
                                label: 'Direct Radiation (w/m²)',
                                data: direct_radiation_value,
                                borderColor: 'rgb(255,191,41)',
                                borderWidth: 2,
                                radius: .6,
                                fill: false
                            }, {
                                label: 'Evapotranspiration mm',
                                data: evapotranspiration_value,
                                borderColor: 'rgb(123,179,91)',
                                borderWidth: 2,
                                radius: .6,
                                fill: false
                            }, {
                                label: 'Precipitation mm',
                                data: precipitation_value,
                                borderColor: 'rgb(24,197,251)',
                                radius: .6,
                                borderWidth: 2,
                                fill: false
                            }, {
                                label: 'Temperature (°C)',
                                data: temp_value,
                                borderColor: 'rgb(255,7,54)',
                                radius: .6,
                                borderWidth: 2,
                                fill: false
                            }],
                        },
                        options: {
                            maintainAspectRatio: false,
                            plugins: {
                                zoom: zoomOptions,
                                legend: {
                                    display: true,
                                    position: "bottom",
                                    labels: {
                                        fontColor: 'rgb(0, 0, 0)'
                                    }
                                },
                            }
                        }
                    });

                })
        });

    </script>

    <!-- [ Main Content ] start -->
    <div class="card-header">
        <h5>Soil Moisture Data</h5>

        <div class="row">

            <!--[ daily sales section ] start-->
            <div class="col">
                <div class="card daily-sales">
                    <div class="card-block">
                        <h6 class="mb-4">Daily Island Wide Average</h6>
                        <div class="row d-flex align-items-center">
                            <div class="col-9">
                                <h3 class="f-w-300 d-flex align-items-center m-b-0">

                                    <i id="daily_avg_icon" class="feather text-c-green f-30 m-r-10"></i>
                                    <span id="daily_avg_percentage"></span>

                            </div>
                            <div>
                                <canvas id="daily_pie_chart"></canvas>
                            </div>

                            {% comment %} Update This {% endcomment %}
                            <div class="col-3 text-right">
                                <p id="daily_avg_value" class="m-b-0"></p>
                            </div>
                        </div>
                        <div class="progress m-t-30" style="height: 7px;">
                            <div id="daily_progress_bar" class="progress-bar progress-c-theme" role="progressbar"
                                 aria-valuenow=aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--[ daily sales section ] end-->
            <!--[ Current  sales section ] starts-->
            <div class="col">
                <div class="card current-sales">
                    <div class="card-block">
                        <h6 class="mb-4">Current Island Wide Average</h6>
                        <div class="row d-flex align-items-center">
                            <div class="col-9">
                                <h3 class="f-w-300 d-flex align-items-center m-b-0">
                                    <i id="current_avg_icon" class="feather  f-30 m-r-10"></i>
                                    <span id="current_avg_percentage"></span>
                            </div>
                            <div>
                                <div>
                                    <canvas id="current_pie_chart"></canvas>
                                </div>
                            </div>
                            <div class="col-3 text-right">
                                <p id="current_avg_value" class="m-b-0"></p>
                            </div>
                        </div>
                        <div class="progress m-t-30" style="height: 7px;">
                            <div id="current_progress_bar" class="progress-bar progress-c-theme" role="progressbar"
                                 aria-valuenow=aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--[ Monthly  sales section ] end-->


        </div>
    </div>


    <br>
    <div class="card-header">
        <h5>Data From The Past 7 Days </h5>
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-xl-6 d-flex justify-content-start">
                    <form id="sensorForm" method="post">
                        {% csrf_token %}
                        <label for="sensor_group_select">Sensor Group Location</label>
                        <select required class="form-control" id="sensor_group_select"
                                name="sensor_group_select">

                            {% for sensor_group in sensor_group_names %}
                                <option value="{{ sensor_group }}"
                                        data-x="{{ sensor_group.sensor_group_location.y }}"
                                        data-y="{{ sensor_group.sensor_group_location.x }}">
                                    {{ sensor_group.sensor_group_name }}
                                </option>

                            {% endfor %}
                        </select>
                    </form>
                </div>

                <a class="col-md-2 col-xl-5 d-flex justify-content-end">
                    <p class="m-0 mr-2">Data Queried from</p>
                    <a href="https://open-meteo.com/"> <img src="https://open-meteo.com/favicon-32x32.png"
                                                            alt="Open Meteo" class="align-self-center">
                    </a>
            </div>
        </div>

        <br><br>


        <div class="row">
            <div class="col">
                <div class="card yearly-sales">
                    <div class="card-block">
                        <h3 class="f-w-300 d-flex align-items-center m-b-0">Data form the Past 7 Days</h3>
                        <br>
                        <div style="height: 520px;"> <!-- Adjust the height as needed -->
                            <canvas id="complete_history_graph"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col"><br><br>
                <div class="card yearly-sales">
                    <div class="card-block">
                        <h6 class="mb-4">Soil Temperature (0-7cm)</h6>
                        <div style="width: 500px" class="row d-flex align-items-center">
                            <div class="col-xl-9">
                                <h3 class="f-w-300 d-flex align-items-center  m-b-0">

                                    <div class="col text-right">
                                        <p id="soil_temp_value" class="m-b-0"></p>
                                    </div>
                            </div>

                            <div>
                                <canvas style="width: 500px" id="soil_temp_line_graph"></canvas>
                            </div>

                            <div class="col-3 text-right">
                                {% comment %} Update Here{% endcomment %}
                                <p id="daily_avg_value" class="m-b-0"></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col"><br><br>
                <div class="card yearly-sales">
                    <div class="card-block">
                        <h6 class="mb-4">Ambient Temperature (2m) </h6>
                        <div style="width: 500px" class="row d-flex align-items-center">
                            <div class="col-xl-9">
                                <h3 class="f-w-300 d-flex align-items-center  m-b-0">

                                    <div class="col-3 text-right">
                                        <p id="temp_value" class="m-b-0"></p>
                                    </div>
                            </div>

                            <div>
                                <canvas style="width: 500px" id="temp_line_graph"></canvas>
                            </div>

                            <div class="col-3 text-right">
                                {% comment %} Update Here{% endcomment %}
                                <p id="daily_avg_value" class="m-b-0"></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col"><br><br>
                <div class="card yearly-sales">
                    <div class="card-block">
                        <h6 class="mb-4">Precipitation (mm) </h6>
                        <div style="width: 500px" class="row d-flex align-items-center">
                            <div class="col-xl-9">
                                <h3 class="f-w-300 d-flex align-items-center  m-b-0">

                                    <div class="col-3 text-right">
                                        <p id="precipitation_value" class="m-b-0"></p>
                                    </div>
                            </div>

                            <div>
                                <canvas style="width: 500px" id="precipitation_line_graph"></canvas>
                            </div>

                            <div class="col-3 text-right">
                                {% comment %} Update Here{% endcomment %}
                                <p id="daily_avg_value" class="m-b-0"></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col"><br><br>
                <div class="card yearly-sales">
                    <div class="card-block">
                        <h6 class="mb-4">Evapotranspiration (mm) </h6>
                        <div style="width: 500px" class="row d-flex align-items-center">
                            <div class="col-xl-9">
                                <h3 class="f-w-300 d-flex align-items-center  m-b-0">

                                    <div class="col-3 text-right">
                                        <p id="evapotranspiration_value" class="m-b-0"></p>
                                    </div>
                            </div>

                            <div>
                                <canvas style="width: 500px" id="evapotranspiration_line_graph"></canvas>
                            </div>

                            <div class="col-3 text-right">
                                {% comment %} Update Here{% endcomment %}
                                <p id="daily_avg_value" class="m-b-0"></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col"><br><br>
                <div class="card yearly-sales">
                    <div class="card-block">
                        <h6 class="mb-4">Direct Solar Radiation (W/m²) </h6>
                        <h3 class="f-w-300 d-flex align-items-center  m-b-0">
                            <p id="direct_radiation_value" class="m-b-0"></p>

                            <div>
                                <canvas style="width: 500px" id="direct_radiation_line_graph"></canvas>
                            </div>
                    </div>
                </div>
            </div>

            <div class="col"><br><br>
                <div class="card yearly-sales">
                    <div class="card-block">
                        <h6 class="mb-4">Relative Humidity % </h6>
                        <h3 class="f-w-300 d-flex align-items-center  m-b-0">
                            <p id="direct_radiation_value" class="m-b-0"></p>

                            <div>
                                <canvas style="width: 500px" id="relative_humidity_line_graph"></canvas>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>

    </script>




{% endblock content %}