{% load static %}

{% block extrastyle %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    {#    <script src="{% static 'assets/plugins/chartjs/chart-js.js' %}"></script>#}
{% endblock extrastyle %}

{% block content %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // WebSocket setup
            const url = `ws://${window.location.host}/ws/socket-server/`;
            const dataSocket = new WebSocket(url);
            const zoomOptions = {
                limits: {
                    x: {min: -200, max: 200, minRange: 50},
                    y: {min: -200, max: 200, minRange: 50}
                },
                pan: {
                    enabled: true,
                    mode: 'xy',
                },
                zoom: {
                    wheel: {
                        enabled: true,
                    },
                    pinch: {
                        enabled: true
                    },
                    mode: 'xy',
                    onZoomComplete({chart}) {
                        // This update is needed to display up to date zoom level in the title.
                        // Without this, previous zoom level is displayed.
                        // The reason is: title uses the same beforeUpdate hook, and is evaluated before zoom.
                        chart.update('none');
                    }
                }
            };

            // Chart configuration
            const avgChartConfig = {
                type: 'line',
                data: {
                    labels: [],  // Array to store date-time labels
                    datasets: [{
                        data: [],  // Array to store average data for A0
                        label: "Volumetric Water Content",
                        backgroundColor: "#3e95cd",
                        radius: 2,
                        tension: 0,
                        fill: false,
                    }]
                },
                options: {
                    plugins: {
                        zoom: zoomOptions,
                        legend: {
                            display: true,
                            position: "bottom",
                            labels: {
                                fontColor: 'rgb(0, 0, 0)'
                            }
                        },
                    },
                    legend: {
                        display: true,
                        position: "bottom",
                        labels: {
                            fontColor: 'rgb(0, 0, 0)'
                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            };

            // Initialize the chart
            const ctx = document.getElementById('acquisitions').getContext('2d');
            const avgChart = new Chart(ctx, avgChartConfig);

            // WebSocket event listener
            dataSocket.addEventListener('message', function (e) {
                const graphData = JSON.parse(e.data);
                console.log(graphData);

                // Update labels and data arrays
                avgChart.data.labels.push(graphData.label);
                avgChart.data.datasets[0].data.push(graphData.avg_sensor_data);


                // Maintain a maximum number of data points
                const maxDataPoints = 100;
                if (avgChart.data.labels.length > maxDataPoints) {
                    avgChart.data.labels.shift();
                    avgChart.data.datasets[0].data.shift();
                    avgChart.data.datasets[1].data.shift();
                    avgChart.data.datasets[2].data.shift();
                }

                avgChart.update();
            });
        });
    </script>

    <!-- [ Main Content ] start -->
    <div class="row">
        <!-- [ Chart Js  ] start -->
        {% for groups in sensor_group %}
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h5> {{ groups.sensor_group_name }} Sensor Groups</h5>
                    </div>
                    <div class="card-block">
                        <div class="container">
                            <canvas width="900" height="300" aria-label="Chart" role="img" id="acquisitions"></canvas>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}