{% extends 'layouts/base.html' %}
{% load static %}

{% block extrastyle %}
    <!-- morris css -->
    <link rel="stylesheet" href="{% static 'assets/plugins/chart-morris/css/morris.css' %}">
    {#    <script src="{% static 'assets/plugins/chartjs/chart-js.js' %}"></script>#}


    <style>
        #map {
            height: 180px;
        }

        .parent-fit {
            flex-grow: 1;
            border: none;
            margin: 0;
            padding: 0;

        }

    </style>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" crossorigin=""/>
{% endblock extrastyle %}


{% block content %}

    <script>
        var marker;
        var map;
    </script>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            // Initialize Leaflet map
            map = L.map('map').setView([18.109656, -77.297565], 7);
            var spatialExtent = L.latLngBounds([17.7012, -78.3666], [18.5242, -76.199]);

            map.setMaxBounds(spatialExtent);
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 22,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);
            map.on('click', function (e) {
                map.off('click', e);
                lat = e.latlng.lat;
                long = e.latlng.lng;

                if (marker) { // check
                    map.removeLayer(marker); // remove
                }
                marker = L.marker([lat, long]).addTo(map);
                document.getElementById("lat-value").value = lat;
                document.getElementById("long-value").value = long;

            });
            pointToLocation()

        });
        var checkboxes = document.getElementsByName("variable_select");

        // Loop through each checkbox
        checkboxes.forEach(function (checkbox) {
            // Add an event listener for when the checkbox is clicked
            checkbox.addEventListener('click', function () {
                // If the checkbox is checked, disable it
                if (checkbox.checked) {
                    checkbox.disabled = true;
                }
            });
        });

    </script>

    <script>

        function changeForm() {
            if (document.getElementById('sensor_group_radio').checked) {

                document.getElementById('sensor_group_form').hidden = false;
                document.getElementById('island_wide_form').hidden = true;

            } else if (document.getElementById('island_wide_radio').checked) {
                document.getElementById('sensor_group_form').hidden = true;
                document.getElementById('island_wide_form').hidden = false;


            }
        }
    </script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card" style="width: 30rem;">
                <form method="post" class="card-body text-center">
                    {% csrf_token %}

                    <div class="mb-4">
                        <i class="feather icon-file-text auth-icon"></i>
                    </div>
                    <h3 class="mb-6">Generate Report</h3>
                    <div id="island_wide_form">

                        <div class="row">
                            <div class="col">
                                <label for="sensor_group_select">Past Days</label>
                                <select required class="form-control" id="sensor_group_select"
                                        name="past_days">
                                    <option value="Utech">University of Technology</option>
                                </select>
                            </div>

                            <div class="col">
                                <label for="sensor_group_select">Past Days</label>
                                <select required class="form-control" id="sensor_group_select"
                                        name="past_days">
                                    <option value="1">1 Day</option>
                                    <option value="3">3 Days</option>
                                    <option value="4">4 Days</option>
                                    <option value="5">5 Days</option>
                                    <option value="7">1 Week</option>
                                    <option value="14">2 Week</option>
                                    <option value="31">1 Month</option>
                                    <option value="61">2 Month</option>
                                    <option value="92">3 Month</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="sensor_group_select">Forcast</label>
                                <select required class="form-control" id="sensor_group_select"
                                        name="sensor_group_select">
                                    <option value="1">1 Day</option>
                                    <option value="3">3 Days</option>
                                    <option value="7">7 Days</option>
                                    <option value="14">14 Days</option>
                                    <option value="16">16 Days</option>
                                </select>
                            </div>
                        </div>
                        <br><br>
                        <div class="col">
                            <b><h5>Select Variables</h5></b>

                            <div class="form-check">
                                <input checked name="variable_select" class="form-check-input" type="checkbox"
                                       value="soil_moisture_0_to_1cm" id="flexCheckDefault"/>
                                <label class="form-check-label" for="flexCheckDefault">Soil Moisture 1-10cm</label>
                            </div>

                            <div class="form-check">
                                <input checked name="variable_select" class="form-check-input" type="checkbox"
                                       value="soil_temperature_0cm" id="flexCheckDefault"/>
                                <label class="form-check-label" for="flexCheckDefault">Soil Temperature 0cm</label>
                            </div>

                            <!-- Checked checkbox -->
                            <div class="form-check">
                                <input name="variable_select" class="form-check-input" type="checkbox"
                                       value="temperature_2m" id="flexCheckChecked"
                                       checked/>
                                <label class="form-check-label" for="flexCheckChecked">Temperature 80m</label>
                            </div>

                            <div class="form-check">
                                <input name="variable_select" class="form-check-input" type="checkbox"
                                       value="evapotranspiration" id="flexCheckChecked"
                                       checked/>
                                <label class="form-check-label" for="flexCheckChecked">Evapotranspiration</label>
                            </div>

                            <div class="form-check">
                                <input name="variable_select" class="form-check-input" type="checkbox"
                                       value="direct_radiation" id="flexCheckChecked"
                                       checked/>
                                <label class="form-check-label" for="flexCheckChecked">Solar Radiation</label>
                            </div>

                            <div class="form-check">
                                <input name="variable_select" class="form-check-input" type="checkbox"
                                       value="precipitation" id="flexCheckChecked"
                                       checked/>
                                <label class="form-check-label" for="flexCheckChecked">Precipitation</label>
                            </div>

                            <div class="form-check">
                                <input value="relative_humidity_2m" name="variable_select" class="form-check-input"
                                       type="checkbox" id="flexCheckChecked"
                                       checked/>
                                <label class="form-check-label" for="flexCheckChecked">Relative Humidity</label>
                            </div>
                        </div>
                        <br>
                        <button name="report_submit" type="submit"
                                class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>
            </div>


            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    const checkboxes = document.querySelectorAll('input[type="checkbox"]');

                    checkboxes.forEach(function (checkbox) {
                        checkbox.addEventListener('change', function (event) {
                            if (!this.checked) {
                                event.preventDefault();
                                this.checked = true;
                            }
                        });
                    });
                });</script>




{% endblock content %}